.App {
  text-align: center;
  width:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* https://stackoverflow.com/questions/39805537/how-to-apply-global-styles-with-css-modules-in-a-react-app */
:global(.singleUserBox) {
  margin-left: 1px;
  margin-right: 1px;
}
:global(.logo){
  max-height: 300px;
  max-width: 300px;
  padding: 20px;
}
:global(.singleStockTitle){
  padding-left: 10px;
  padding-top: 10px;
}
:global(.UserListItemBtn):hover{
  color:white;
  background-color: turquoise;
}
#html{
}
